<section class="form-page">
  <h1>Login</h1>

  <% if @error_login == true %>
    <div class="alert alert-danger">
      <h4>Sorry, it looks like your Email and Password did not match</h4>
    </div>
  <% end %>


  <%= form_tag '/login' do %>

    <div class="alert alert-info forms">
      Email: 
      <div class ="form-field">
        <%= text_field_tag :email%>
      </div>
      Password: 
      <div class ="form-field">
        <%= password_field_tag :password %>
      </div>
      <div class ="form-field button">
        <%= submit_tag "Submit" %>
      </div>
    </div>

  <% end %>
</section>