<section class="about-show">

  <header>
    <h1> About Us </h1>
  </header>
  <br>
  
  <h2>Our Story</h2>
  <br>
  <div class="alert alert-info">
    <p>From humble beginnings, we started as a traveling street vendor on the streets of Vancouver, eventually demand increased 
    exponentially and we opened up 20 new stores within our first five years of business. Focusing on only providing the essentials
    at moderate prices Jungle is devouted to producing and seeling only high quality products for its customers.</p>
  </div>
  <br>
  <h2>Locations</h2>
  <br>
  <div class="alert alert-info">
    <ul>
      <li>Vancouver, Canada</li>
      <li>Sydney, Australia</li>
      <li>Seoul, South Korea</li>
    </ul>
  </div>
</section>